<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kElseIfFormatRule</key>
	<integer>0</integer>
	<key>kNumberOfEmptyLinesAboveEnd</key>
	<integer>1</integer>
	<key>kRequireSpaceAfterReturnType</key>
	<false/>
	<key>kAllowSingleLineIfStatements</key>
	<false/>
	<key>kViolationsShouldBeErrors</key>
	<false/>
	<key>kRequireSpaceAfterCommas</key>
	<true/>
	<key>kAsteriskSpacingRule</key>
	<integer>2</integer>
	<key>kRequireSpaceAfterColon</key>
	<false/>
	<key>kNumberOfEmptyLinesAboveCategory</key>
	<integer>1</integer>
	<key>kRequireSpaceAfterMethodType</key>
	<true/>
	<key>kStaticVariableAsteriskSpacingRule</key>
	<integer>2</integer>
	<key>kNumberOfEmptyLinesAboveInterface</key>
	<integer>1</integer>
	<key>kRequireSpaceAfterPropertyDeclaration</key>
	<true/>
	<key>kNumberOfEmptyLinesBeforeImplementation</key>
	<integer>1</integer>
	<key>kRequireSpaceAfterConditionalStatement</key>
	<true/>
	<key>kMathSpacingRule</key>
	<integer>1</integer>
	<key>kNumberOfEmptyLinesBeforePragma</key>
	<integer>1</integer>
	<key>KNumberOfEmptyLinesBetweenMethods</key>
	<integer>1</integer>
	<key>kEqualSpacingRule</key>
	<integer>1</integer>
	<key>kRequireSpaceAfterPropertyTypeDeclaration</key>
	<true/>
	<key>kRequireOpenBraceOnMethodSignatureLine</key>
	<true/>
	<key>kRequireSpaceBeforeProtocolDeclarations</key>
	<true/>
	<key>kRequireNoEmptyLineAsFirstLineInMethod</key>
	<false/>
	<key>kElseFormatRule</key>
	<integer>0</integer>
	<key>kNumberOfEmptyLinesAfterImplementation</key>
	<integer>1</integer>
	<key>kMethodParameterPrefix</key>
	<string></string>
	<key>kNumberOfEmptyLinesAboveClassExtension</key>
	<integer>1</integer>
	<key>kComparisonSpacingRule</key>
	<integer>1</integer>
	<key>kRequireEmptyLineAboveReturnStatement</key>
	<true/>
	<key>kRequireOpenBraceOnConditionalStatementLine</key>
	<true/>
	<key>kRequireEmptyLineAboveConditionalStatement</key>
	<true/>
	<key>kRequireSpaceBeforeOpeningBrace</key>
	<true/>
	<key>kRequireSpaceAfterParameterType</key>
	<false/>
	<key>kRequireSpaceBetweenTernaryOperators</key>
	<true/>
	<key>kNumberOfEmptyLinesAfterPragma</key>
	<integer>1</integer>
	<key>kRequireSpaceBeforeCaseColons</key>
	<false/>
	<key>kRequireSpaceBeforeParameter</key>
	<false/>
	<key>kSignatureAsteriskSpacingRule</key>
	<integer>2</integer>
	<key>kRequireSpaceAboveBreak</key>
	<false/>
	<key>kInterfaceColonSpacingRule</key>
	<integer>1</integer>
</dict>
</plist>
