<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>Contact Us</string>
			<key>description</key>
			<string></string>
			<key>controller</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Terms of Service</string>
			<key>description</key>
			<string></string>
			<key>controller</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Change Username</string>
			<key>description</key>
			<string></string>
			<key>controller</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Change Password</string>
			<key>description</key>
			<string></string>
			<key>controller</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Log Out</string>
			<key>description</key>
			<string></string>
			<key>controller</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
